docs/schema/v3_7/xml/DATEXII_3_EnergyInfrastructure.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:egi="http://datex2.eu/schema/3/energyInfrastructure" version="3.7" targetNamespace="http://datex2.eu/schema/3/energyInfrastructure" xmlns:fac="http://datex2.eu/schema/3/facilities" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/facilities" schemaLocation="DATEXII_3_Facilities.xsd" />
  <xs:complexType name="_AuthenticationAndIdentificationEnum">
    <xs:simpleContent>
      <xs:extension base="egi:AuthenticationAndIdentificationEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ChargingModeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ChargingModeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConnectorFormatTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ConnectorFormatTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConnectorTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ConnectorTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ElectricEnergySourceTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ElectricEnergySourceTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PricingPolicyEnum">
    <xs:simpleContent>
      <xs:extension base="egi:PricingPolicyEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Ampere">
    <xs:annotation>
      <xs:documentation>Ampere.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="AuthenticationAndIdentificationEnum">
    <xs:annotation>
      <xs:documentation>A table of authentication and/or identification methods</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="activeRFIDChip">
        <xs:annotation>
          <xs:documentation>Phone (active RFID chip)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="apps">
        <xs:annotation>
          <xs:documentation>Apps</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="calypso">
        <xs:annotation>
          <xs:documentation>RFID Calypso</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashPayment">
        <xs:annotation>
          <xs:documentation>No specific authentication by using cash</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="creditCard">
        <xs:annotation>
          <xs:documentation>Credit card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="debitCard">
        <xs:annotation>
          <xs:documentation>Debit card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mifareClassic">
        <xs:annotation>
          <xs:documentation>RFID Card / Phone NFC - Mifare Classic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mifareDesfire">
        <xs:annotation>
          <xs:documentation>RFID Card / Phone NFC - Mifare Desfire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nfc">
        <xs:annotation>
          <xs:documentation>Nearfield communication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overTheAir">
        <xs:annotation>
          <xs:documentation>Over the air according to ISO 15118</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="phoneDialog">
        <xs:annotation>
          <xs:documentation>phone (dialog with platform)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="phoneSMS">
        <xs:annotation>
          <xs:documentation>Phone (SMS)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pinpad">
        <xs:annotation>
          <xs:documentation>PINPAD</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="plc">
        <xs:annotation>
          <xs:documentation>PLC according to ISO 15118</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prepaidCard">
        <xs:annotation>
          <xs:documentation>Pre-Paid card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rfid">
        <xs:annotation>
          <xs:documentation>RFID</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="website">
        <xs:annotation>
          <xs:documentation>Using a website</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unlimitedAccess">
        <xs:annotation>
          <xs:documentation>No authentication/identification required.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="noAccess">
        <xs:annotation>
          <xs:documentation>No access granted</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargingModeEnum">
    <xs:annotation>
      <xs:documentation>Charging mode according to IEC 61851-1 terminology</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mode1AC1p">
        <xs:annotation>
          <xs:documentation>Mode 1, AC 1 phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode1AC3p">
        <xs:annotation>
          <xs:documentation>Mode 1, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode2AC1p">
        <xs:annotation>
          <xs:documentation>Mode 2, AC 1 phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode2AC3p">
        <xs:annotation>
          <xs:documentation>Mode 2, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode3AC3p">
        <xs:annotation>
          <xs:documentation>Mode 3, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode4DC">
        <xs:annotation>
          <xs:documentation>Mode 4, DC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="legacyInductive">
        <xs:annotation>
          <xs:documentation>Legacy-Inductive</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ccs">
        <xs:annotation>
          <xs:documentation>Charging with a combined charging solution (CCS). AC and DC are used simultaneously.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Some other charging mode</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of the charging mode is unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Connector">
    <xs:annotation>
      <xs:documentation>Parameters and description of an interface that is available at the given electric charging point to connect vehicles</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="connectorType" type="egi:_ConnectorTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specification of the connector, i.e. the charging interface type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chargingMode" type="egi:_ChargingModeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Available charging modes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectorFormat" type="egi:_ConnectorFormatTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information on the cable type used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxPowerAtSocket" type="egi:Watt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Maximum power at the socket in Watts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="voltage" type="egi:Volt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Possible degrees of voltage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maximumCurrent" type="egi:Ampere" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Maximum current in Ampere</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_connectorExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ConnectorFormatTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of cable types used during the charging process.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="cableMode2">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet for a mode 2 cable, common for most domestic sockets</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cableMode3">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet for a mode 3 cable, can be used for Type 1 and Type 2 sockets.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="otherCable">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="socket">
        <xs:annotation>
          <xs:documentation>The connector is a socket; the EV user needs to bring a fitting plug</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConnectorTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of commonly used connectors / charging interfaces</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="chademo">
        <xs:annotation>
          <xs:documentation>CHAdeMO, 600 V DC. Used mostly in Japan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cee3">
        <xs:annotation>
          <xs:documentation>CEE3, 230 V, 16 A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cee5">
        <xs:annotation>
          <xs:documentation>CEE5, 400 V, 16-63 A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yazaki">
        <xs:annotation>
          <xs:documentation>Yazaki, 400 VDC, 125 A, Asian standard.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domestic">
        <xs:annotation>
          <xs:documentation>A domestic socket of unspecified type. Applicable countries should be specified in separate attribute.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticA">
        <xs:annotation>
          <xs:documentation>Domestic socket type A (mainly used in the USA, Canada, Mexico &amp; Japan)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticB">
        <xs:annotation>
          <xs:documentation>Domestic socket type B (mainly used in the USA, Canada &amp; Mexico)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticC">
        <xs:annotation>
          <xs:documentation>Domestic socket type C (commonly used in Europe, South America &amp; Asia)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticD">
        <xs:annotation>
          <xs:documentation>Domestic socket type D (mainly used in India)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticE">
        <xs:annotation>
          <xs:documentation>Domestic socket type E (primarily used in France, Belgium, Poland, Slovakia &amp; Czechia)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticF">
        <xs:annotation>
          <xs:documentation>Domestic socket type F (used almost everywhere in Europe &amp; Russia, except for the UK &amp; Ireland)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticG">
        <xs:annotation>
          <xs:documentation>Domestic socket type G (mainly used in the United Kingdom, Ireland, Malta, Malaysia, Singapore &amp; the Arabian Peninsula)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticH">
        <xs:annotation>
          <xs:documentation>Domestic socket type H (used exclusively in Israel, the West Bank &amp; the Gaza Strip)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticI">
        <xs:annotation>
          <xs:documentation>Domestic socket type I (mainly used in Australia, New Zealand, China &amp; Argentina)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticJ">
        <xs:annotation>
          <xs:documentation>Domestic socket type J (used almost exclusively in Switzerland &amp; Liechtenstein)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticK">
        <xs:annotation>
          <xs:documentation>Domestic socket type K (used almost exclusively in Denmark &amp; Greenland)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticL">
        <xs:annotation>
          <xs:documentation>Domestic socket type L (used almost exclusively in Italy &amp; Chile)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticM">
        <xs:annotation>
          <xs:documentation>Domestic socket type M (mainly used in South Africa)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticN">
        <xs:annotation>
          <xs:documentation>Domestic socket type N (used in Brazil and South Africa)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticO">
        <xs:annotation>
          <xs:documentation>Domestic socket type O (used exclusively in Thailand)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2single16">
        <xs:annotation>
          <xs:documentation> IEC 60309-2 Industrial Connector single phase 16 amperes (usually blue)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three16">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 16 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three32">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 32 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three64">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 64 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T1">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 1 "SAE J1772".  Mostly used in USA and Asia.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T1COMBO">
        <xs:annotation>
          <xs:documentation>Combo Type 1 based, DC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T2">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 2 "Mennekes" - 400 V, 16-63 A. Mandatory in Europe; EN 17186 identifier "C"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T2COMBO">
        <xs:annotation>
          <xs:documentation>Combo Type 2 based, DC, Type 2 connector with extension for simultaneous DC-charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T3A">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 3A; EN 17186 identifier "D"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T3C">
        <xs:annotation>
          <xs:documentation> IEC 62196 Type 3C "Scame"; EN 17186 identifier "E"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pantographBottomUp">
        <xs:annotation>
          <xs:documentation>On-board Bottom-up-Pantograph typically for bus charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pantographTopDown">
        <xs:annotation>
          <xs:documentation>Off-board Top-down-Pantograph typically for bus charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaConnectorEurope">
        <xs:annotation>
          <xs:documentation>Tesla Connector EU (modification of the Type 2 connector)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaConnectorAmerica">
        <xs:annotation>
          <xs:documentation>Tesla connector used in America (Tesla specific)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaR">
        <xs:annotation>
          <xs:documentation>Tesla Connector "Roadster"-type (round, 4 pin)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaS">
        <xs:annotation>
          <xs:documentation>Tesla Connector "Model-S"-type (oval, 5 pin)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other charging interface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ElectricChargingPoint">
    <xs:annotation>
      <xs:documentation>Technical infrastructure at a specific location that facilitates electric charging of one vehicle at a time</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="availableVoltage" type="egi:Volt" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possible degrees of voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="availableChargingPower" type="egi:Watt" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possible degrees of charging power in Watts.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="connector" type="egi:Connector" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specify the connector(s).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="electricEnergyMix" type="egi:ElectricEnergyMix" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_electricChargingPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricEnergyMix">
    <xs:annotation>
      <xs:documentation>The energy mix and environmental impact of the supplied energy available at this charging point.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isGreenEnergy" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>True if 100% from regenerative sources (CO2 and nuclear waste is zero)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="electricEnergySourceRatio" type="egi:ElectricEnergySourceRatio" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="energyProvider" type="fac:Organisation" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The energy provider for this electric charging point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rates" type="fac:Rates" minOccurs="0" />
      <xs:element name="_electricEnergyMixExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="energyMixIndex" type="com:Integer" use="required">
      <xs:annotation>
        <xs:documentation>An index to link this element between the static and dynamic publications.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ElectricEnergySourceRatio">
    <xs:annotation>
      <xs:documentation>Ratio for the specified energy source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="energySource" type="egi:_ElectricEnergySourceTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An electric energy source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherEnergySource" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Some other energy source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceRatioValue" type="com:PercentageValue">
        <xs:annotation>
          <xs:documentation>The percentage ratio value of this energy source.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_electricEnergySourceRatioExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ElectricEnergySourceTypeEnum">
    <xs:annotation>
      <xs:documentation>Electric energy sources</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="biogas">
        <xs:annotation>
          <xs:documentation>Biogas energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="coal">
        <xs:annotation>
          <xs:documentation>Coal energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gas">
        <xs:annotation>
          <xs:documentation>Gas energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nuclear">
        <xs:annotation>
          <xs:documentation>Nuclear power sources</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="solar">
        <xs:annotation>
          <xs:documentation>Solar energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="water">
        <xs:annotation>
          <xs:documentation>Water energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wind">
        <xs:annotation>
          <xs:documentation>Wind energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generalGreen">
        <xs:annotation>
          <xs:documentation>All kinds of green energy sources.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generalFossil">
        <xs:annotation>
          <xs:documentation>All kinds of fossil power sources</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Any other energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EnergyInfrastructureSite">
    <xs:annotation>
      <xs:documentation>A site where vehicles can be supplied with energy, including all buildings, stations, parking spaces and other associated services.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="brand" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The brand of the site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="entrance" type="loc:Location" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possibility to specify the location of the site's entrance.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyInfrastructureStation" type="egi:EnergyInfrastructureStation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifications of charging stations on the site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureSiteExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureStation">
    <xs:annotation>
      <xs:documentation>A collection of associated refill points (which can be of different type). An example would be a fuel dispenser that serves different types of fuel. Often the vehicle space of the station is shared between the different refill points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="authenticationAndIdentificationMethods" type="egi:_AuthenticationAndIdentificationEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Information on what methods of identification and/or authentication are accepted</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyProvider" type="fac:Organisation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The provider of the energy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="refillPoint" type="egi:RefillPoint" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifications of refill points at a charging station. Note that the refillPointIndex must be unique within the complete site!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureStationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureTable">
    <xs:annotation>
      <xs:documentation>A table of sites where vehicles can be supplied with energy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="energyInfrastructureSite" type="egi:EnergyInfrastructureSite" maxOccurs="unbounded" />
      <xs:element name="_energyInfrastructureTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureTablePublication">
    <xs:annotation>
      <xs:documentation>A publication of static information on the infrastructure for vehicle energy supply.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="energyInfrastructureTable" type="egi:EnergyInfrastructureTable" maxOccurs="unbounded" />
          <xs:element name="_energyInfrastructureTablePublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyPricingPolicy">
    <xs:annotation>
      <xs:documentation>Details how the price for the charging process is calculated.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pricingPolicy" type="egi:_PricingPolicyEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Information on which ways of pricing are used at the refill point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minimumDeliveryFee" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A minimum delivery fee.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_energyPricingPolicyExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PricingPolicyEnum">
    <xs:annotation>
      <xs:documentation>A list of possible pricing policies at refill points</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="pricePerChargingTime">
        <xs:annotation>
          <xs:documentation>The charging time defines the price.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pricePerDeliveryUnit">
        <xs:annotation>
          <xs:documentation>The amount of delivery units (see DeliveryUnitEnum) defines the price.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="contract">
        <xs:annotation>
          <xs:documentation>A contract defines the pricing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flatRate">
        <xs:annotation>
          <xs:documentation>Customers can or must have (depends on other available options) a flatrate to use the RefillPoint.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RefillPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>Technical infrastructure at a specific location that facilitates an energy refilling process being connected to max. one vehicle at a time</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="_refillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Volt">
    <xs:annotation>
      <xs:documentation>Volt.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="Watt">
    <xs:annotation>
      <xs:documentation>Watt.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
</xs:schema>
